@mixin cards {
    background: transparent;
    border: none;
    border-radius: 0;
}

@mixin border {
    border: 4px solid $pantone-color-1;
}

@mixin icon {
    font-size: 96px;
    margin: 10px 5px;
}

@mixin title {
  font-size: 25px;
  color: $pantone-color-2;
}