// COLORS
$background-color: #202020;
$code-color: #a7a0a0;
$pantone-color-1: #939597;
$pantone-color-2: #f5df4d;

// FONTS
$white: #ffffff;
$ff-poiret: 'Poiret One',
cursive;
$ff-raleway: 'Raleway',
sans-serif;
$ff-code: 'Nanum Gothic Coding',
monospace;