// COLORS
$background-color: #202020;
$text-color: #8d8d8d;
$code-color: #696969;
$main-color: #FA7268;
$nav-link-color: #5b5471;
$nav-link-hover: #958ea9;
$nav-brand-color: #c9c4d9;

// FONTS
$white: #ffffff;
$ff-poiret: 'Poiret One', cursive;
$ff-raleway: 'Raleway', sans-serif;
$ff-code: 'Nanum Gothic Coding', monospace;