@import "variables";
@import "mixins";
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $background-color;
    color: $pantone-color-1;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

// SCROLLBAR
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

// LOADER
.loader {
    position: relative;
    max-width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: $background-color;
    span {
        position: absolute;
        left: 45%;
        top: 45%;
        font-size: 80px;
        color: $pantone-color-1;
        font-family: $ff-poiret;
        @media screen and (max-width: 555px) {
            left: 35%;
            top: 25%;
        }
        @media screen and (max-width: 370px) {
            left: 29%;
            top: 25%;
        }
        @media screen and (max-width: 260px) {
            left: 19%;
            top: 25%;
        }
    }
}

// CONTENT
.content {
    .code {
        width: 100%;
        line-height: 80%;
        overflow: hidden;
        span {
            font-family: $ff-code;
            color: $code-color;
            font-size: 10px;
            margin: 0;
            padding: 0;
        }
        p {
            display: inline-block;
            margin: 0;
            font-size: 10px;
        }
    }
    // NAVBAR
    .nav {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }
        .navbar {
            width: 90%;
            border-bottom: 5px solid $pantone-color-1;
            button {
                border: none;
                .toggler-icon {
                    color: $pantone-color-1;
                    &:hover {
                     color:  #f5df4d;
                    }
                }
                &:focus {
                    outline: none;
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $pantone-color-1;
                        &:hover {
                            color: $pantone-color-2;
                        }
                    }
                    .active {
                        color: $pantone-color-2;
                    }
                }
            }
            .navbar-brand {
                color: $pantone-color-1;
                font-family: $ff-poiret;
                font-size: 40px;
                font-weight: 700;
                .short {
                    display: none;
                }
                @media screen and (max-width: 550px) {
                    .short {
                        display: block;
                    }
                    .long {
                        display: none;
                    }
                }
            }
        }
    }
    // ABOUT ME
    .about {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }
        .photo {
            margin-top: 5px;
            .card {
                @include cards;
                .card-header {
                    @include cards;
                }
            }
        }
        .me-text {
            margin-top: 5px;
            .card {
                @include cards;
                @include border;
                .card-header {
                    @include cards;
                    font-family: $ff-raleway;
                    @include title;
                    @media screen and (max-width: 270px) {
                        h1 {
                            font-size: 25px;
                        }
                        .card-body {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    // LATEST COMMIT
    .commit {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }
        .card {
            @include cards;
            @include border;
            .card-header {
                font-family: $ff-raleway;
                @include cards;
                @include title;
            }
            .card-body {
                font-family: $ff-code;
                color: #eb4559;
            }
            @media screen and (max-width: 270px) {
                h1 {
                    font-size: 25px;
                }
                .card-body {
                    font-size: 15px;
                }
            }
        }
    }
    // SKILLS
    .skills {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }

        .card {
            @include cards;
            @include border;
            .card-header {
                font-family: $ff-raleway;
                @include cards;
                @include title;
            }
            @media screen and (max-width: 270px) {
                h1 {
                    font-size: 25px;
                }
            }
            .card-body {
                color: $pantone-color-1;
                img {
                    margin: 0 3px;
                }
                .skilled-icons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    i {
                      @include icon;
                    }
                }
                .learning {
                    margin-top: 50px;

                    i {
                      @include icon;
                    }
                }
            }
        }
    }
    // PORTFOLIO
    .portfolio {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }
        .card {
            @include cards;
            @include border;
            .card-header {
                font-family: $ff-raleway;
                @include cards;
                @include title;
            }
            @media screen and (max-width: 270px) {
                h1 {
                    font-size: 25px;
                }
                .card-body {
                    font-size: 15px;
                }
            }
            .card-body i {
                font-size: 60px;
            }
        }
        .portf {
            position: relative;
            overflow: hidden;
            margin: 0;
            width: 100%;
            color: $white;
            text-align: center;
            font-size: 16px;
            margin: 20px 0;
            &:hover img {
                zoom: 1;
                -webkit-filter: blur(7px);
                filter: blur(7px);
                opacity: 0.35;
            }
            img {
                opacity: 0.5;
            }
            figcaption {
                position: absolute;
                bottom: 42%;
                left: 25px;
                text-align: left;
                opacity: 0;
                padding: 5px 60px 5px 10px;
                font-size: 15px;
                letter-spacing: 1.5px;
                a {
                    color:  $pantone-color-2;
                    text-decoration: none;
                    padding: 15px 0;
                    @media screen and (max-width: 270px) {
                        padding: 0;
                    }
                    &:hover {
                        color: $white;
                    }
                }
            }
            .title {
                position: absolute;
                top: 58%;
                left: 25px;
                padding: 5px 10px 10px;
                font-family: $ff-raleway;
                text-transform: uppercase;
                @media screen and (max-width: 270px) {
                    h5 {
                        font-size: 18px;
                    }
                    p {
                        display: none;
                    }
                }
                &:before {
                    height: 2px;
                    width: 500px;
                    position: absolute;
                    content: "";
                    background-color: $pantone-color-1;
                }
                &:after {
                    height: 2px;
                    width: 400px;
                    position: absolute;
                    content: "";
                    background-color: $pantone-color-1;
                }
                &:before {
                    top: 0;
                    left: 10px;
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
                &:after {
                    bottom: 0;
                    right: 10px;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
                div:before {
                    top: 10px;
                    right: 0;
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                }
                div:after {
                    bottom: 10px;
                    left: 0;
                    -webkit-transform: translateY(-100%);
                    transform: translateY(-100%);
                }
            }
            @media screen and (max-width: 270px) {
                h5 {
                    font-size: 18px;
                }
                p {
                    display: none;
                }
            }
        }
        .portf *,
        .portf *:before,
        .portf *:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.55s ease;
            transition: all 0.55s ease;
        }
        .portf:hover .title:before,
        .portf:hover .title:after,
        .portf:hover .title div:before,
        .portf:hover .title div:after {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        .portf:hover figcaption {
            opacity: 1;
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
    }
    // CONTACT
    .contact {
        margin: 100px 0;
        @media screen and (max-width: 555px) {
            margin: 50px 0;
        }
        .card {
            @include cards;
            @include border;
            .card-header {
                @include cards;
                font-family: $ff-raleway;
                @include title;
            }
            .card-body {
                form {
                    color: $pantone-color-1;
                    input,
                    textarea,
                    button {
                        @include cards;
                        border-bottom: 1px solid $pantone-color-1;
                        color: $pantone-color-2;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border-bottom: 1px solid $pantone-color-2;
                        }
                    }
                    button {
                        color: $pantone-color-1;
                        border-radius: 0;
                        &:hover {
                            border-bottom: 1px solid $pantone-color-2;
                            color: $white;
                        }
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
            @media screen and (max-width: 270px) {
                h1 {
                    font-size: 25px;
                }
                .card-body {
                    font-size: 15px;
                }
            }
            .card-footer {
                @include cards;
                a {
                    color: $pantone-color-1;
                    padding: 0 7px;
                    &:hover {
                        color:$pantone-color-2;
                    }
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    // FOOTER
    footer {
        margin: 50px 0;
        font-size: 15px;
        i {
            color:$pantone-color-2;
            font-size: 12px;
            vertical-align: middle;
            padding-top: 5px;
        }
        .icons {
            font-size: 9px;
            color: #424242;
            a {
                color: $pantone-color-1;
            }
        }
    }
    // SCROLL TO TOP
    .button {
        font-size: 40px;
        position: fixed;
        right: 50px;
        bottom: 1%;
        i {
            color: $code-color;
            opacity: 0.5;
            padding: 0 10px;
            border: 1px solid $code-color;
            &:hover {
                color: $pantone-color-2;
                opacity: 1;
                border: 1px solid $white;
            }
        }
        @media screen and (max-width: 350px) {
            right: 15px;
            font-size: 25px;
            i {
                padding: 0 4px;
            }
        }
    }
}