@import 'variables';
@import 'mixins';

html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;

    .content {
        background: url("../images/nis.png") no-repeat;
        background-size: cover;

        .row {
            width: 100%;
            height: 100%;
            margin: 0;
        }

		#weather-app {
            margin: 90px 0;
			width: 80%;
            background-color: white;
            opacity: 0.7;
            border-radius: 5px;

            .first {
                height: 55%;
                padding: 1% 1%;

                .ovrly {
                    @include gradient2($sgreen, $sblue);
                    opacity: 0.9;
                    height: 100%;
                    width: 100%;

                    .row {
                        margin: 0;

                        .col-md-8 {
                            .card-header {
                                border: none;
                            }
                            .card {
                                background: transparent;
                                border: none;
    
                                .col-md-3 {
                                    padding: 20px 8px;

                                    @media screen and (max-width: 767px) {
                                        border-bottom: 1px solid white;
                                    }
                                }
                            }

                            .tx {
                                color: white;
                            }
            
                            .txt1, .txt2, .txt3, .txt4 {
                                color: white;
                                font-size: 12px;
                            }
                            .txt2::after {
                                content:""; 
                                background: white; 
                                position: absolute; 
                                bottom: 25%; 
                                left: 0; 
                                right: -25%;
                                height: 50%; 
                                width: 1px;
        
                                @media screen and (max-width: 980px) {
                                    content: none;
                                }
                            }
                            .txt3::after {
                                content:""; 
                                background: white; 
                                position: absolute; 
                                bottom: 25%;; 
                                left: 0; 
                                height: 50%; 
                                width: 1px;
        
                                @media screen and (max-width: 980px) {
                                    content: none;
                                }
                            }
                            .txt4::after {
                                content:""; 
                                background: white; 
                                position: absolute; 
                                bottom: 25%;; 
                                left: 0; 
                                height: 50%; 
                                width: 1px;
        
                                @media screen and (max-width: 980px) {
                                    content: none;
                                }
                            }
                        }
                    }
    
                    .col-md-4 {
                        .card {
                            background: transparent;
                            border: none;

                            .temp {
                                font-size: 60px;
                                font-weight: 100;
                                color: white;
                            }
        
                            .plc p {
                                color: white;
                                font-size: 30px;
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                }   
            }

            .second {
                height: 41%;
                padding: 0 1% 1% 1%;

                .ovrly {
                    @include gradient2($sblue, $sgreen);
                    opacity: 0.9;
                    height: 100%;
                    width: 100%;

                    .row {
                        margin: 0;

                        .card {
                            background: transparent;
                            border: none;
    
                            .card-header {
                                background: transparent;
                                border: none;
                                color: white;
                                font-size: 14px;
                            }
    
                            .card-footer {
                                background: transparent;
                                border: none;
                                color: white;
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
		}
    }
}

// FOOTER
footer {
    background-color: #424242;

    div {
        a {
            font-size: 10px;
            color: white;

            span {
                font-family: 'Poiret One', cursive;
            }
        }
    }
    .icons {
        font-size: 15px;
        color: rgb(90, 69, 69);

        a {
            text-decoration: none;
            color: #705b5b;
            &:hover {
                color: white;
            }
        }
    }
}

