@import "mixins";
$hover: #902857;

// ALL
html, body {
    @include all;
    overflow-x: visible;
}


// LOADER
// .loader {
//     @include loader;
// }


// SCROLL TO TOP BUTTON
#button {
    font-size: 40px;
    color: #902857;
    position: fixed;
    right: 50px;
    bottom: 1%;

    @media screen and (max-width: 350px) {
        right: 20px;
    }  

    i {
      border: 3px solid #fff;
      border-radius: 50%;
    }
  }


// FIRST CONTENT
header {
    background: url("../images/cc0-desktop-backgrounds-fog-7919-min.png") no-repeat;
    background-size: cover;

    .navbar {
        @include navbar;
    }
}


// FIRST CONTENT
.second {
    width: 100%;
    padding-top: 40px;

    .intro {
        color: white;
        font-size: 60px;
    }

    .text {
        
        .card {
            border: none;
            border-radius: 0;

            p {
                color: #424242;
                font-size: 20px;
                text-align: justify;
                padding: 15px 15px;
            }
        }
    }
}


// THIRD CONTENT
.third {
    width: 100%;
    background-color: white;

    .container {
        @media screen and (max-width: 770px) {
            display: flex;
            flex-direction: column;
            justify-content: around;
        }
    }

    .card {
        border: none;
        border-radius: 0;

        p {
            color: #424242;
            font-size: 20px;
            text-align: justify;
            padding: 15px 15px;
        }
    }

    .video {
        padding: 50px;

        video {
            max-width: 100%;
            height: auto;
        }
    }
}


// FOURTH CONTENT
.fourth {
    width: 100%;
    background: url("../images/nathan-dumlao-542538-unsplash.jpg") no-repeat;
    background-size: cover;

    .card {
        border: none;
        border-radius: 0;
        margin: 50px 0;

        p {
            color: #424242;
            font-size: 20px;
            text-align: justify;
            padding: 15px 15px;
        }
    }
}


// FIFTH CONTENT
.fifth {
    width: 100%;

    .card {
        border: none;
        padding: 70px 0;

        .card-footer {
            border: none;
            background: white;
            font-size: 28px;
        }
    }
}


// SIXTH CONTENT
.sixth {
    height: 70vh;
    width: 100%;
    background: url("../images/recovered.jpg") no-repeat;
    background-size: cover;
}


// FOOTER
footer {
    height: 150px;
    background-color: #000;
    color: #fff;
    padding-top: 35px;

    .container {
        @media screen and (max-width: 420px) {
            display: flex;
            flex-direction: column;
        }

        span {
            padding-top: 7px;
        }
        
        p {
            color: white;
            font-size: 18px;
            margin: 0;
    
            a {
                font-family: 'Poiret One', cursive;
                color: 	#c3b4b4;
    
                &:hover {
                    text-decoration: none;
                    color: $hover;
                }
            }
        }
    }
}
