.text {
  width: 100%;
  height: 70vh;
  color: white; }
  .text h1 {
    font-size: 70px; }
  .text p {
    font-size: 30px; }

html, body {
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

header {
  width: 100%;
  background: url("../images/bcc.png") no-repeat;
  background-size: cover; }
  header .navbar {
    padding: 0;
    border-bottom: 3px solid white; }
    header .navbar .navbar-nav {
      margin: 0 auto;
      height: 100%; }
      header .navbar .navbar-nav li {
        display: inline-block;
        float: none;
        padding: 0 20px;
        margin: 5px 5px; }
        header .navbar .navbar-nav li:hover {
          background-color: #902857; }
      header .navbar .navbar-nav .active {
        background-color: #902857; }
    header .navbar .nav-link {
      color: white;
      font-size: 27px; }
    header .navbar .navbar-brand {
      padding: 0 20px 10px;
      margin: 0; }
    header .navbar .navbar-brand img {
      padding-top: 10px;
      display: none; }
      @media screen and (max-width: 991px) {
        header .navbar .navbar-brand img {
          display: block; } }
    header .navbar .logo img {
      padding-top: 10px; }
      @media screen and (max-width: 991px) {
        header .navbar .logo img {
          display: none; } }
    header .navbar .navbar-toggler i {
      color: white;
      width: 20px;
      height: 20px;
      padding-top: 7px; }

.second .main {
  background-color: #E0E0E0;
  opacity: 0.8;
  border: 8px solid white;
  border-radius: 0;
  margin: 70px 0; }
  .second .main p {
    font-size: 50px;
    margin: 0; }
  .second .main .one {
    background-color: transparent;
    border: none;
    padding-bottom: 20px; }
    .second .main .one p {
      font-size: 22px;
      padding: 10px 0; }
      .second .main .one p i {
        font-size: 30px;
        vertical-align: middle;
        color: #000; }
    .second .main .one span {
      padding-top: 10px; }
      .second .main .one span a:hover {
        cursor: pointer;
        text-decoration: none; }
      .second .main .one span a i {
        color: #000;
        font-size: 25px;
        margin-right: 15px;
        text-decoration: none; }
        .second .main .one span a i:hover {
          color: #902857; }
  .second .main .two {
    background-color: transparent;
    border: none;
    padding-bottom: 20px; }
    .second .main .two input, .second .main .two textarea {
      border: 1px solid #424242;
      padding: 7px 5px;
      border-radius: 3px;
      margin-bottom: 10px; }
    .second .main .two input:focus, .second .main .two textarea:focus {
      background-color: rgba(144, 40, 87, 0.3);
      outline: none; }
    .second .main .two input {
      width: 250px;
      height: 30px; }
    .second .main .two textarea {
      height: 30px;
      width: 250px;
      overflow: hidden; }
    .second .main .two label {
      margin: 0; }
      .second .main .two label i {
        vertical-align: middle; }
    .second .main .two .buttons .btn {
      padding-bottom: 0;
      border: 1px solid #424242;
      border-radius: 3px; }
      .second .main .two .buttons .btn:hover {
        background-color: #902857;
        color: white; }

footer {
  height: 150px;
  background-color: black; }
  footer p {
    color: white;
    font-size: 18px;
    margin: 0; }
    footer p a {
      font-family: 'Poiret One', cursive;
      color: #c3b4b4; }
      footer p a:hover {
        text-decoration: none;
        color: #902857; }

@media screen and (max-width: 350px) {
  header .main .row p {
    font-size: 30px; }
  header .main .two .input input {
    width: 160px; }
  header .main .two .input textarea {
    width: 160px; } }
@media screen and (max-width: 250px) {
  header .main .row p {
    font-size: 25px; }
  header .main .two .input input {
    width: 145px; }
  header .main .two .input textarea {
    width: 145px; } }

/*# sourceMappingURL=contact.css.map */
